section{
    background-color: rgb(134, 189, 253);
    margin: 20px;
    border-radius: 20px;
    min-height: 100vh;
    padding: 15px;
}

h1{
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: rgb(90, 148, 255);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    height: 15px;
}