body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--cor-bg);
}

button{
    border-radius: 15px;
    background-color: rgb(42, 170, 59);
    width: 200px;
    padding: 10px;
    margin: 10px;
}

button:hover{
    cursor: pointer;
}

.nome{
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px, black;
}

.amarelo{
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

div{
    border: 5px, solid , black;
    height: 150px;
    width: 420px;
    align-items: center;
    padding: 20px;
    transform: translateY(170%);
    justify-content: center;
    margin: 0 auto;
}